.room {
  font-family: avenir, "helvetica neue", "Helvetica", "arial", sans-serif;
  height: 100%;
}

.room--info {
  border: 1px solid #E2E2E2;
  padding: 20px 20px 20px 20px;
  color: #333;
}

.room--info--title {
  font-size: 30px;
  font-weight: 300;
  color: #333;
  text-decoration: none;
}

.room--info--subtitle {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
}

.room--toolbar {
}

.room--game-and-chat-wrapper {
  border: 1px solid #E2E2E2;
  padding: 15px 15px 15px 15px;
  display: flex;
  flex-direction: row;
}

/* chat style */
.chat {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-left: 1px solid #E2E2E2;
  min-width: 300px;
  max-width: 350px;
  height: 650px;
  display: flex;
  flex-direction: column;
}

.chat--header {
  height: 50px;
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chat--title {
  font-size: 25px;
  line-height: 25px;
}

.chat--messages {
  overflow-x: scroll;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

.chat--message {
  font-size: 15px;
  display: block;
  padding-left: 20px;
}

.chat--message--sender {
  font-weight: bold;
  margin-left: -15px;
}

.chat--message--text {
  margin-left: 5px;
}

.chat--bar {
  width: 100%;
  padding: 20px 0px 20px 0px;
}

.chat--bar--input {
  width: 100%;
}

