.room {
  font-family: avenir, "helvetica neue", "Helvetica", "arial", sans-serif;
  height: 100%;
}

.room--info {
  border: 1px solid #E2E2E2;
  padding: 20px 20px 20px 20px;
  color: #333;
}

.room--info--title {
  font-size: 30px;
  font-weight: 300;
  color: #333;
  text-decoration: none;
}

.room--info--subtitle {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
}

.room--toolbar {
}

.room--game-and-chat-wrapper {
  border: 1px solid #E2E2E2;
  padding: 15px 15px 15px 15px;
  display: flex;
  flex-direction: row;
}
