.room {
  font-family: avenir, "helvetica neue", "Helvetica", "arial", sans-serif;
  height: 100%;
}

.room.mobile {
  display: flex;
  flex-direction: column;
}

.room--header {
  border: 1px solid #E2E2E2;
  padding: 20px 20px 20px 20px;
  color: #333;
}

.room.mobile .room--header {
  display: none;
}

.header {
}

.header--title {
  font-size: 30px;
  font-weight: 300;
  color: #333;
  text-decoration: none;
}

.header--subtitle {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
}

.room--toolbar {
}

.room--game-and-chat-wrapper {
  border: 1px solid #E2E2E2;
  padding: 15px;
  display: flex;
  flex-direction: row;
  /* width: min-content; */
}

.room.mobile .room--game-and-chat-wrapper {
  padding: 0px;
  flex: 1;
}

.room.mobile .room--chat {
  display: none;
}

.toggle-mobile {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
}
