.welcome {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FCFCFC;
  font-family: "Avenir Next", "Avenir", "sans serif";
  color: #333;
}

.welcome--nav {
  padding: 20px 30px 30px 30px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: #6AA9F4;
}

.welcome--nav--left {
  font-size: 17px;
  font-weight: bold;
  line-height: 100%;
}

.welcome--nav--left a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.welcome--main {
  display: flex;
  flex-direction: row;
}

.welcome--browse {
  flex: 2;
  padding: 15px 15px 15px 15px;
  display: flex;
  flex-direction: row;
}

.welcome--browse--filter {
  flex: 1;
  padding: 15px 15px 15px 15px;
  border-right: 1px solid #9B9B9B;
  display: flex;
  flex-direction: column;
  display: none;
}

.welcome--browse--filter--header {
  font-size: 20px;
  margin-left: 3px;
}

.welcome--browse--title {
  text-align: center;
  font-size: 30px;
}

.welcome--browse--puzzlelist--wrapper {
  flex: 6;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.welcome--browse--puzzlelist {
  overflow-y: scroll;
  max-height: 100%;
  width: 50%;
  padding: 10px 30px 10px 30px;
  font-size: 20px;
}

.welcome--browse--puzzlelist--entry {
  display: block;
  font-family: nyt-franklin;
  font-size: 20px;
  border: 1px solid silver;
  border-radius: 3px;
  margin-top: 10px;
  padding: 20px 20px 20px 20px;
  cursor: pointer;
}

.welcome--browse--puzzlelist--entry:hover {
  background-color: #FFF;
}

.welcome--upload {
  flex: 1;
  padding: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
}

.welcome--upload--title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}


.welcome--create--title {
  text-align: center;
  font-size: 30px;
}

.welcome--create--options {
  margin-top: 10px;
}

.welcome--create--options--option {
  font-size: 20px;
}

.welcome--create--options--option input {
  font-size: 90%;
  width: 300px;
  padding: 1px;
}

.welcome--create--options--option select {
  font-size: 90%;
  font-color: #666;
  width: 350px;
  padding: 1px;
}

.welcome--create--options--option .emoji {
  font-size: 120%;
  cursor: pointer;
}

.welcome--create button {
  margin-top: 10px;
  padding: 5px 5px 5px 5px;
  font-size: 20px;
  font-weight: bold;
}

