/* chat style */
.chat {
  flex-grow: 0;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-left: 1px solid #E2E2E2;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.chat--header {
  height: 50px;
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chat--title {
  font-size: 25px;
  line-height: 25px;
}

.chat--messages {
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  max-height: 550px;
  padding-bottom: 20px;
}

.chat--message {
  font-size: 15px;
  display: block;
  padding-left: 20px;
  word-wrap: break-word;
}

.chat--message--sender {
  font-weight: bold;
  margin-left: -15px;
}

.chat--message--text {
  margin-left: 5px;
}

.chat--bar {
  width: 100%;
  padding: 20px 0px 20px 0px;
}

.chat--bar--input {
  width: 100%;
}

