/* Create styles */

.create {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create--options {
}

.create--options--label {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: right;
  font-weight: bold;
  width: 60px;
  display: inline-block;
}

.create--options input {
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  width: 30px;
  font-size: 20px;
  padding: 5px;
}

.create--options button {
  padding: 5px;
  margin-left: 5px;
  font-size: 20px;
}

.create--btn {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}

.create--pattern--grid {
  border-collapse: collapse;
  table-layout: fixed;
}

.create--pattern--grid--cell--wrapper {
  position: relative;
  padding: 0;
  margin: 0;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
}

.create--pattern--grid--cell {
  height: 100%;
  width: 100%;
  background-color: white;
}

.create--pattern--grid--cell.black {
  background-color: black;
}
