.file-uploader {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.file-uploader--wrapper {
  background-color: #FAFAFA;
  outline: 2px dashed #AAA;
  width: 100%;
  flex: 1;
}

.file-uploader--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.file-uploader--box--icon {
  fill: #AAA;
  cursor: pointer;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.file-uploader--wrapper.v2 {
  background-color: #FFFFFF;
}
