.hints {
  display: flex;
  flex-direction: column;
}

.hints--pattern {
  border: 1px solid black;
  padding: 20px;
}

.hints--matches {
  border: 1px solid black;
  padding: 20px;
  height: 300px;
}

.hints--matches--entries {
  overflow-y: scroll;
  max-height: 100%;
}

.hints--matches--entry {
  padding: 10px;
}

.hints--matches--entry:nth-child(odd) {
  background-color: #CCC;
  color: #000;
}

.hints--matches--entry:nth-child(even) {
  background-color: #FFF;
  color: #333;
}
