.movement-arrow {
  display: inline-block;
  padding: 5px;
  /* border-radius 5px; */
  border: 1px solid black;
  text-transform: uppercase;
  outline: none;
}

.mobile-grid-controls {
  display: flex;
  flex-direction: column;
  height: 80vh;
  max-height: 80vh;
  outline: none;
  position: relative;
}

.mobile-grid-controls--grid-content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1px;
  display: flex;
  width: min-content;
  height: 100%;
}

.mobile-grid-controls--clue-bar {
  background-color: var(--main-blue-3);
  padding: 20px;
  display: flex;
  font-size: 15px;
  flex: 1;
  min-height: 20px;
  align-items: center;
}

.mobile-grid-controls--clue-bar--number {
  font-weight: bold;
  display: inline-block;
}

.mobile-grid-controls--clue-bar--text {
  margin-left: 20px;
  display: inline-block;
  overflow-y: auto;
  max-height: 100%;
}
