.nav {
  padding: 20px 30px 20px 25px;
  min-height: 17px;
  display: flex;
  height: max-content;
  align-content: center;
  justify-content: space-between;
  background-color: var(--main-blue);
}
.nav.mobile {
  padding-top: 17px;
  padding-bottom: 17px;
}
.nav--left {
  font-size: 17px;
  font-weight: bold;
  line-height: 100%;
}

.nav--right {
  margin-right: 10px;
  align-self: flex-end;
  color: white;
  text-decoration: none;
  font-size: 13px;
}

.nav--login {
  cursor: pointer;
}

.nav--left a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.nav--v2 {
  color: pink;
  margin-left: 2px;
}

.secret {
  opacity: 0;
  transition: all ease-in 0.5s;
}

.secret:hover {
  opacity: 1;
  transition: all ease-in 2s;
}
