/* player Styles */
.player--main--wrapper {
  margin-right: 2px;
  position: relative;
}

.player--main {
  display: flex;
}

.player--main--clue-bar {
  background-color: #DCEFFF;
  padding: 10px 20px 10px 20px;
  display: flex;
  font-size: 15px;
  width: 486px;
  height: 40px;
  align-items: center;
}

.player--main--clue-bar--number {
  font-weight: bold;
  display: inline-block;
}

.player--main--clue-bar--text {
  margin-left: 20px;
  display: inline-block;
  overflow-y: scroll;
  max-height: 100%;
}

.player--main--left--grid {
  margin-top: 10px;
  position: relative;
  color: #444;
}

.player--main--left--grid.frozen {
  margin-top: 10px;
  position: relative;
  color: black;
}

.player--main--clues {
}


.player--mobile {
  flex: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.player--mobile--grid {
}

.player--mobile--clue-bar {
  background-color: #DCEFFF;
  padding: 10px 20px 10px 20px;
  display: flex;
  font-size: 15px;
  flex: 1;
  min-height: 20px;
  align-items: center;
}

.player--mobile--clue-bar .player--mobile--typing-hint {
  display: none;
}
.player--mobile--clue-bar:nth-child(3) .player--mobile--clue-bar--text {
  display: none;
}
.player--mobile--clue-bar:nth-child(3) .player--mobile--clue-bar--number {
  display: none;
}
.typing .player--mobile--clue-bar:nth-child(3) .player--mobile--clue-bar--number {
  display: block;
}
.typing .player--mobile--clue-bar:nth-child(3) .player--mobile--clue-bar--text {
  display: block;
}
.typing .player--mobile--clue-bar:nth-child(3) .player--mobile--typing-hint {
  display: none;
}

.player--mobile--typing-hint {
  width: 100%;
  font-size: 30pt;
  text-align: center;
}

.player--mobile--clue-bar:nth-child(3) .player--mobile--typing-hint {
  display: block;
}

.player--mobile--clue-bar--number {
  font-weight: bold;
  display: inline-block;
}

.player--mobile--clue-bar--text {
  margin-left: 20px;
  display: inline-block;
  overflow-y: scroll;
  max-height: 100%;
}
