.powerups--main {
  display: flex;
  margin-bottom: 30px;
}

.powerups--label {
  justify-content: center;
  color: #666699;
}

.powerups--powerup {
  border-radius: 5px;

  justify-self: center;
  margin-left: 20px;
  margin-right: 20px;

  flex-direction: column;
}

.powerups--unused {
  cursor: pointer;
  border: 10px solid #666699;
}

.powerups--in-use {
  border: 10px solid #339966;
}
