.toolbar {
  padding: 10px 10px 8px 50px;
  min-height: 20px;
  border-top: 1px solid #E2E2E2;
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  text-align: center;
}

.toolbar button, .toolbar--mobile button {
  color: #666;
  font-size: 14px;
  padding: 7px 10px 7px 10px;
  border-radius: 5px;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.toolbar--mobile button {
  font-size: 12px;
  padding: 0px;
}

.toolbar button:hover, .toolbar--mobile button:hover {
  background-color: #F2F2F2;
}

.toolbar--timer {
  text-align: center;
}

.toolbar--pencil {
  cursor: pointer;
}

.toolbar--pencil.on .fa-pencil {
  color: #6AA9F4 !important;
}

.toolbar--mobile--top {
  font-size: 15px;
  padding: 5px;
  height: 20px;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  position: relative;
  text-align: center;
}
