.replays--table td, .replays--table th {
  padding: 0 5px 5px 5px;
}

.replays .header {
  padding: 20px;
  border-bottom: 1px solid #E2E2E2;
}

.replays .header--title {
  font-size: 30px;
  font-weight: 500;
  color: #333;
  text-decoration: none;
}

.replays .header--subtitle {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
}

