.replay {
  height: 100%;
  width: 100%;
  min-width: min-content;
  position: relative;
}

.replay .grid-controls .grid--content .blurable {
  opacity: 1;
}

.replay .grid-controls .grid--cover {
  display: none;
}

.replay .scrub--container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  /* margin-bottom: 17.8px; */
}

.replay .scrub {
  cursor: pointer;
  user-select: none;
}

.replay .scrub.active {
  color: #4d4dff;
  font-weight: bold;
}

.replay .header--title {
  font-size: 30px;
  font-weight: 500;
  color: #333;
  text-decoration: none;
}

.replay .header--subtitle {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
}
