.welcomev2 {
  background-color: #ffffff;
  color: var(--main-gray-1);
}

.welcomev2--browse {
  flex: 2;
  padding: 15px 15px 15px 15px;
  display: flex;
  flex-direction: row;
}

.welcomev2--browse--puzzlelist--wrapper {
  flex: 6;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.welcomev2--browse--puzzlelist {
  padding: 10px 0px 10px 0px;
  width: 50%;
}

.welcomev2--browse--title {
  text-align: center;
  font-size: 22px;
}

.welcomev2--main {
  border-left: 2px solid var(--main-blue);
  /* padding: 10px; */
  overflow: hidden;
}

.welcomev2--sidebar {
  padding-bottom: 20px;
}

.welcomev2--sidebar > div {
  padding-left: 5px;
  padding-right: 5px;
}

.welcomev2--searchbar {
  font-size: 16px;
  padding: 5px;
  width: 735px;
  border-radius: 3px;
  border: 1px solid silver;
}

.filters label {
  position: relative;
  cursor: pointer;
  line-height: 1.8;
}

.filters .checkmark {
  background-color: white !important;
  border-radius: 3px;
  border: 1px solid silver;
  display: inline-block;
  height: 15px;
  margin-right: 10px;
  position: relative;
  top: 3px;
  width: 15px;
}

.filters input {
  width: 0px;
  opacity: 0;
}

.filters input:checked ~ .checkmark:after {
  content: '';
  /* drawing a "checkmark" with css */
  /* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
  position: relative;
  left: 8.5px;
  top: -4px;
  width: 4px;
  height: 12px;
  border: solid #6aa9f4;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
}

.quickplay {
  padding-top: 10px;
  border-top: 2px solid #6aa9f4;
}

.entryv2 {
  cursor: pointer;
  white-space: nowrap;
  /* margin-right: 25px; */
  position: relative;
  display: block;
  border: 1px solid silver;
  border-radius: 3px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  font-size: 15px;
  width: 330px;
}

.entryv2--top--left {
  font-size: 15px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  padding: 10px;
  padding-bottom: 0;
  justify-content: space-between;
}

.entryv2--main {
  padding-top: 0px;
  padding: 10px;
}

.entryv2--icon {
  position: relative;
  z-index: 1;
  bottom: 15px;
  left: 15px;
}

.entryv2.started {
  border-color: #a0d9fc;
}

.entryv2.solved {
  border-color: #8df79d;
}

@keyframes slidein {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.entryv2.new {
  animation: 1s slidein;
}

.entryv2--back {
  opacity: 0;
  transition: opacity 0.2s ease-in;
  -moz-user-select: none;
}

.entryv2.flipped .entryv2--back {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.entryv2--front {
  flex: 1;
  height: 50px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.entryv2--front--title {
  font-size: 15px;
  text-align: center;
}

.entryv2--front--author {
  margin-top: 8px;
  font-size: 12px;
  text-align: center;
}

.entryv2--back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(40, 69, 94, 0.95);
}

.entryv2--back--btns {
  display: flex;
  justify-content: space-around;
}

.entryv2--back--btn {
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: rgba(106, 169, 254, 0.95);
  border-radius: 5px;
}

.entryv2--back--btn:hover {
  color: white;
  background-color: rgb(76, 109, 184);
}

.entryv2--back--btn.play-solo {
}

::-webkit-scrollbar {
  width: 2px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: --main-gray-3;
}

input::placeholder {
  color: silver;
  font-weight: 200;
}

p {
  margin-top: unset;
  margin-bottom: unset;
}
