code {
  font-family: monospace;
  background-color: rgb(223, 223, 223);
}

.toolbar {
  padding: 10px 10px 8px 50px;
  min-height: 20px;
  border-top: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  text-align: center;
}

.toolbar--mobile {
  height: 48px;
  background-color: var(--main-blue);
  justify-content: space-between;
  font-size: 14px;
}

.toolbar--chat {
  width: 24px;
  height: 24px;
  padding: 12px;
  fill: white;
}

.toolbar--game {
  width: 24px;
  height: 24px;
  padding: 12px;
  fill: white;
}

.toolbar--mobile a {
  margin-left: 16px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.toolbar--mobile button {
  background-color: transparent;
  border: none;
  padding: 16px;
  color: white;
  font-size: 14px;
  height: 48px;
}

.toolbar button {
  color: var(--main-gray-1);
  padding: 7px 10px 7px 10px;
  border-radius: 5px;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.toolbar button:hover {
  background-color: var(--main-gray-3);
}

.toolbar--mobile .clock {
  color: white;
}
.toolbar--timer {
  text-align: center;
}

.toolbar--pencil {
  cursor: pointer;
}

.toolbar--info {
  cursor: pointer;
}

.toolbar--pencil.on .fa-pencil {
  color: var(--main-blue) !important;
}

.toolbar--mobile--top {
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-align: center;
}
