/* player Styles */
.player--main--wrapper {
  margin-right: 2px;
  position: relative;
}

.player--main {
  display: flex;
}

.player--main--clue-bar {
  background-color: #DCEFFF;
  padding: 10px 20px 10px 20px;
  display: flex;
  font-size: 15px;
  width: 486px;
  height: 40px;
  align-items: center;
}

.player--main--clue-bar--number {
  font-weight: bold;
  display: inline-block;
}

.player--main--clue-bar--text {
  margin-left: 20px;
  display: inline-block;
  overflow-y: scroll;
  max-height: 100%;
}

.player--main--left--grid {
  margin-top: 10px;
  position: relative;
  color: #444;
}

.player--main--left--grid.frozen {
  margin-top: 10px;
  position: relative;
  color: black;
}

.player--main--clues {
  display: flex;
  padding: 0px 20px 0px 20px;
}

.player--main--clues--list {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  padding-right: 10px;
}

.player--main--clues--list--title {
  font-weight: bold;
  font-size: 14px;
}

.player--main--clues--list--scroll {
  position: relative;
  height: 570px;
  overflow-y: scroll;
  border-top: 1px solid #e2e2e2;
  margin-top: 5px;
  padding-right: 10px;
}

.player--main--clues--list--scroll--clue {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 5px solid transparent;
  cursor: pointer;
}

.player--main--clues--list--scroll--clue.complete {
  color: #888;
}

.player--main--clues--list--scroll--clue.selected {
  background-color: #A7D8FF;
}

.player--main--clues--list--scroll--clue.half-selected {
  border-left: 5px solid #A7D8FF;
}


.player--main--clues--list--scroll--clue--number {
  margin-left: 5px;
  font-weight: 400;
  line-height: 19px;
  font-weight: bold;
}

.player--main--clues--list--scroll--clue--text {
  margin-left: 10px;
}
