.toolbar {
  padding: 10px 380px 8px 50px;
  height: 20px;
  border-top: 1px solid #E2E2E2;
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  text-align: center;
}

.toolbar--timer {
  text-align: center;
}
