.upload {
  padding: 10px 30px 30px 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.upload--main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.upload--main--upload {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.upload--main--upload--title {
  font-size: 30px;
  text-align: center;
}

.upload--go {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 25px;
}

.upload--preview {
  height: 40px;
  padding: 15px 15px 15px 15px;
}
