html {
  height: 100%;
  width: 100%;
}

html, body, #root, .router-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  font-family: "avenir next", avenir, 'Nunito', "helvetica neue", "Helvetica", "arial", sans-serif;
}

@media only screen and (max-device-width: 480px) {
  body {
    overflow: hidden;
  }
}

