html, body, #root, .router-wrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0;
}

@font-face{
  font-family: nyt-franklin;
  src: url(/assets/nyt-franklin-300-normal.woff) format("woff");
  font-style: normal;
  font-weight: 300
}

@font-face{
  font-family: nyt-franklin;
  src: url(/assets/nyt-franklin-500-normal.woff) format("woff");
  font-style: normal;
  font-weight: 500
}

@font-face{
  font-family: nyt-franklin;
  src: url(/assets/nyt-franklin-700-normal.woff) format("woff");
  font-style: normal;
  font-weight: 700
}
